{% extends "base_generic.html" %}

{% block content %}
  <h1>Welcome</h1>
  <p>Welcome to mySite, a website developed by <em>Clayton Carpenter</em>!</p>
  <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <feildset class="form-group">
            <legend class="border-bottom mb-4"> Join Today </legend>
            {{ form.as_p }}
        </feildset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a href="#">Sign in</a>
        </small>
    </div

{% endblock %}